kestra-workflows/code-quality-agent.yaml
id: code_quality_agent
namespace: company.devops

tasks:
  - id: quality_check
    type: io.kestra.plugin.ai.agent.AIAgent
    systemMessage: |
      You are a code quality decision agent.
      Based on summarized data, decide if code should be deployed or needs review.
      Make autonomous deployment decisions.
    prompt: |
      Review the code quality metrics and decide:
      - Should this code be deployed to production?
      - Does it need additional review?
      Provide clear reasoning for your decision.
    provider:
      type: io.kestra.plugin.ai.provider.GoogleGemini
      modelName: gemini-2.0-flash
      apiKey: "{{ secret('GEMINI_API_KEY') }}"

  - id: deployment_decision
    type: io.kestra.plugin.core.log.Log
    message: "Deployment Decision: {{ outputs.quality_check.textOutput }}"
