kestra-workflows/github-analyzer.yaml
id: github_analyzer
namespace: company.devops

tasks:
  - id: analyze_repo
    type: io.kestra.plugin.ai.agent.AIAgent
    systemMessage: |
      You are a GitHub repository analyst.
      Analyze commit patterns, code quality metrics, and deployment readiness.
      Summarize the repository health and provide deployment recommendations.
    prompt: |
      Analyze this GitHub repository: https://github.com/PavithraEbbali/AgentForce-DevOps
      Provide insights on code quality, commit frequency, and whether it's ready for deployment.
    provider:
      type: io.kestra.plugin.ai.provider.GoogleGemini
      modelName: gemini-2.0-flash
      apiKey: "{{ secret('GEMINI_API_KEY') }}"

  - id: log_analysis
    type: io.kestra.plugin.core.log.Log
    message: "Repository Analysis Complete: {{ outputs.analyze_repo.textOutput }}"
